body {
  color: #151564;
  background-color: #F7F7F7;
  line-height: 22px;
  font-size: 14px;
  font-family: 'Roboto Mono';
  padding-top: 100px;
}

.container {
  width: 700px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.question {
  text-align: left;
  border: 5px solid #ddd;
  margin-bottom: 50px;
  padding: 25px;
}

h4 {
  color: #888888;
}

p.factoid {
  color: black;
}

h4.answer-one .answer-two .answer-three .answer-four .answer-five{
  color: green;
}

.question .answer {
  display: none;
}

.choices {
  list-style-type: upper-alpha;
}
