body {
  color: #151564;
  background-color: #F7F7F7;
  line-height: 22px;
  font-size: 16px;
  font-family: 'Roboto Mono';
  padding-top: 100px;
}

.container {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
	text-align: left;
}

.content {
  text-align: left;
  margin-bottom: 80px;
}

h4 {
  color: #888888;
}

p.factoid {
  color: black;
}

h4.answers {
  color: green;
}